<ion-content>
  <button ion-button class="next_btn" 
  (click)="login()">Login</button>
  <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
          <div class="main_wrapper">

              <h2>Home Delivery</h2>
              <p>With in 24 hours</p>
              <div class="bottom_bay">
                  <img src="/assets/imgs/asset_landing1.png">
              </div>
          </div>
      </ion-slide>
      <ion-slide>
          <div class="main_wrapper">

              <h2>Get the best</h2>
              <p>Discounts in market</p>
              <div class="bottom_bay">
                  <img src="/assets/imgs/asset_landing2.png">
              </div>
          </div>
      </ion-slide>
      <ion-slide>
          <div class="main_wrapper">

              <h2>Get it Started</h2>
              <p>Just a few clicks away!</p>
              <div class="bottom_bay">
                  <img src="/assets/imgs/asset_landing3.png">
              </div>
          </div>
      </ion-slide>
  </ion-slides>
</ion-content>