<ion-header>
    <ion-toolbar [color]="'medium'">
        <ion-buttons slot="start">
          <ion-back-button style="color:white"></ion-back-button> 
           </ion-buttons>
        <ion-title style="color:white">{{Title}}</ion-title>
        <ion-list-header *ngIf="ShowLoading">
                <ion-label>
                  <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                </ion-label>
              </ion-list-header>
      </ion-toolbar>
</ion-header>


<ion-content>


        <ion-list *ngIf="ShowLoading">

        
                <ion-item>
                  <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                        <ion-thumbnail slot="start">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-thumbnail>
                        <ion-label>
                          <h3>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                          </h3>
                          <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                          </p>
                          <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                          </p>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                            <ion-thumbnail slot="start">
                              <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-thumbnail>
                            <ion-label>
                              <h3>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                              </h3>
                              <p>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                              </p>
                              <p>
                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                              </p>
                            </ion-label>
                          </ion-item>
                          <ion-item>
                                <ion-thumbnail slot="start">
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-thumbnail>
                                <ion-label>
                                  <h3>
                                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                  </h3>
                                  <p>
                                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                  </p>
                                  <p>
                                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                  </p>
                                </ion-label>
                              </ion-item>
                              <ion-item>
                                    <ion-thumbnail slot="start">
                                      <ion-skeleton-text animated></ion-skeleton-text>
                                    </ion-thumbnail>
                                    <ion-label>
                                      <h3>
                                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                      </h3>
                                      <p>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                      </p>
                                      <p>
                                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                      </p>
                                    </ion-label>
                                  </ion-item>
                                  <ion-item>
                                        <ion-thumbnail slot="start">
                                          <ion-skeleton-text animated></ion-skeleton-text>
                                        </ion-thumbnail>
                                        <ion-label>
                                          <h3>
                                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                          </h3>
                                          <p>
                                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                          </p>
                                          <p>
                                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                          </p>
                                        </ion-label>
                                      </ion-item>
                                      <ion-item>
                                            <ion-thumbnail slot="start">
                                              <ion-skeleton-text animated></ion-skeleton-text>
                                            </ion-thumbnail>
                                            <ion-label>
                                              <h3>
                                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                              </h3>
                                              <p>
                                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                              </p>
                                              <p>
                                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                              </p>
                                            </ion-label>
                                          </ion-item>
                                          <ion-item>
                                                  <ion-thumbnail slot="start">
                                                    <ion-skeleton-text animated></ion-skeleton-text>
                                                  </ion-thumbnail>
                                                  <ion-label>
                                                    <h3>
                                                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                                    </h3>
                                                    <p>
                                                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                                    </p>
                                                    <p>
                                                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                                    </p>
                                                  </ion-label>
                                                </ion-item>
                                                <ion-item>
                                                      <ion-thumbnail slot="start">
                                                        <ion-skeleton-text animated></ion-skeleton-text>
                                                      </ion-thumbnail>
                                                      <ion-label>
                                                        <h3>
                                                          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                                        </h3>
                                                        <p>
                                                          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                                        </p>
                                                        <p>
                                                          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                                        </p>
                                                      </ion-label>
                                                    </ion-item>
                                                    <ion-item>
                                                          <ion-thumbnail slot="start">
                                                            <ion-skeleton-text animated></ion-skeleton-text>
                                                          </ion-thumbnail>
                                                          <ion-label>
                                                            <h3>
                                                              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                                            </h3>
                                                            <p>
                                                              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                                            </p>
                                                            <p>
                                                              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                                            </p>
                                                          </ion-label>
                                                        </ion-item>
                                                        <ion-item>
                                                              <ion-thumbnail slot="start">
                                                                <ion-skeleton-text animated></ion-skeleton-text>
                                                              </ion-thumbnail>
                                                              <ion-label>
                                                                <h3>
                                                                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                                                </h3>
                                                                <p>
                                                                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                                                </p>
                                                                <p>
                                                                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                                                </p>
                                                              </ion-label>
                                                            </ion-item>
                                                            <ion-item>
                                                                  <ion-thumbnail slot="start">
                                                                    <ion-skeleton-text animated></ion-skeleton-text>
                                                                  </ion-thumbnail>
                                                                  <ion-label>
                                                                    <h3>
                                                                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                                                    </h3>
                                                                    <p>
                                                                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                                                    </p>
                                                                    <p>
                                                                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                                                    </p>
                                                                  </ion-label>
                                                                </ion-item>
                                                                <ion-item>
                                                                        <ion-thumbnail slot="start">
                                                                          <ion-skeleton-text animated></ion-skeleton-text>
                                                                        </ion-thumbnail>
                                                                        <ion-label>
                                                                          <h3>
                                                                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                                                          </h3>
                                                                          <p>
                                                                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                                                          </p>
                                                                          <p>
                                                                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                                                          </p>
                                                                        </ion-label>
                                                                      </ion-item>
                                                                      <ion-item>
                                                                              <ion-thumbnail slot="start">
                                                                                <ion-skeleton-text animated></ion-skeleton-text>
                                                                              </ion-thumbnail>
                                                                              <ion-label>
                                                                                <h3>
                                                                                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                                                                </h3>
                                                                                <p>
                                                                                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                                                                </p>
                                                                                <p>
                                                                                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                                                                </p>
                                                                              </ion-label>
                                                                            </ion-item>
                                                                            <ion-item>
                                                                                  <ion-thumbnail slot="start">
                                                                                    <ion-skeleton-text animated></ion-skeleton-text>
                                                                                  </ion-thumbnail>
                                                                                  <ion-label>
                                                                                    <h3>
                                                                                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                                                                    </h3>
                                                                                    <p>
                                                                                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                                                                    </p>
                                                                                    <p>
                                                                                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                                                                    </p>
                                                                                  </ion-label>
                                                                                </ion-item>
                                                                                <ion-item>
                                                                                      <ion-thumbnail slot="start">
                                                                                        <ion-skeleton-text animated></ion-skeleton-text>
                                                                                      </ion-thumbnail>
                                                                                      <ion-label>
                                                                                        <h3>
                                                                                          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                                                                        </h3>
                                                                                        <p>
                                                                                          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                                                                        </p>
                                                                                        <p>
                                                                                          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                                                                        </p>
                                                                                      </ion-label>
                                                                                    </ion-item>
                                                                                    <ion-item>
                                                                                          <ion-thumbnail slot="start">
                                                                                            <ion-skeleton-text animated></ion-skeleton-text>
                                                                                          </ion-thumbnail>
                                                                                          <ion-label>
                                                                                            <h3>
                                                                                              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                                                                            </h3>
                                                                                            <p>
                                                                                              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                                                                            </p>
                                                                                            <p>
                                                                                              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                                                                            </p>
                                                                                          </ion-label>
                                                                                        </ion-item>
                                                                                        <ion-item>
                                                                                              <ion-thumbnail slot="start">
                                                                                                <ion-skeleton-text animated></ion-skeleton-text>
                                                                                              </ion-thumbnail>
                                                                                              <ion-label>
                                                                                                <h3>
                                                                                                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                                                                                </h3>
                                                                                                <p>
                                                                                                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                                                                                </p>
                                                                                                <p>
                                                                                                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                                                                                </p>
                                                                                              </ion-label>
                                                                                            </ion-item>
     
              </ion-list>



    <div class="wishlist_wrapper">
        <!-- <div class="wish_head">
            <h5 class="floatLeft">Ayurvedic</h5>
            <ion-icon class="floatRight" name="git-compare" (click)="add()"></ion-icon>
            <div class="clear"></div>
        </div> -->
        <ul>
            <li 
            *ngFor="let item of ProductList"
            (click)="product(item.product_id)">
                <div class="med_container">
                    <img [src]="item.image">
                </div>
                <div class="med_container_details">
                    <h4>{{item.name}}</h4>
                    <p><span>&#x20b9; {{item.discount}}</span>&nbsp;&nbsp;&#x20b9;{{item.productPrice}}</p>
                    <h5 class="order_quantity p0 borderNone">10% OFF</h5>
                </div>
                <!-- <div class="med_container_remove textRight">
                    <ion-icon name="heart" class="fav"></ion-icon>
                    <div class="clear"></div>
                    <div class="add_btn floatRight" (click)="product()">ADD</div>
                    <div class="clear"></div>
                </div> -->
                <div class="clear"></div>
            </li>


        </ul>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more products...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>



  <!-- fab placed to the bottom end
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button>
                <ion-icon name="funnel-sharp"></ion-icon>        
                 </ion-fab-button>

        <ion-fab-button>
                <ion-icon name="funnel-outline"></ion-icon>      
                    </ion-fab-button>
      </ion-fab> -->




</ion-content>


<ion-footer>
        <ion-toolbar>
         

                <ion-grid>
                        <ion-row>
                          <ion-col  style="border-right-style: solid; border-width: 1px;"
                          (click)="sortActionSheet()"
                          size=6>

                                <ion-row class="center">
                                        <ion-icon 
                                        size="large"
                                        name="funnel-outline">
                                  
                                    </ion-icon>

                                    Sort
                                </ion-row>
                     

                          </ion-col>
                          <ion-col 
                          (click)="presentModal()"
                          style="border-left-style: solid; border-width: 1px;"  size=6>
                                <ion-row class="center">
                                        <ion-icon 
                                        size="large"
                                        name="filter-outline"></ion-icon>

                                    Filter
                                </ion-row>

                            </ion-col>
                        </ion-row>
                    </ion-grid>

        </ion-toolbar>
</ion-footer>