<ion-header>
    <ion-toolbar [color]="'medium'">
        <ion-buttons slot="start">
          <ion-back-button style="color:white"></ion-back-button> 
           </ion-buttons>
        <ion-title style="color:white">Product Detail</ion-title>

        
        <button
        slot="end"  [routerLink]="['../../product-search']" 
        ion-button class="nav_btn floatLeft">
        <ion-icon slot="icon-only" name="search"></ion-icon>
       </button>

       <button  slot="end"
       (click)="NevigatetoCart()"
       class="nav_btn nav_cart floatLeft">
    
      </button>

       <span 
       style="margin-left: -15px;margin-top: -25px"
       slot="end" class="badge badge-pill badge-primary">{{CartCount}}</span>

     

      </ion-toolbar>
</ion-header>

    
<ion-content >   
    <div *ngIf="ShowProduct && !ShowErroPage" class="product_wrapper" >
     <div style="margin: 5px">
            <nav aria-label="breadcrumb">
                    <ol 
                    style="margin: 3px"
                    class="breadcrumb">
                      <li 
                      (click)="Nevigatetocategory(item.prop2)"
                      style="color: #24abaa"
                      *ngFor="let item of breakcrumb; index as i;"
                      class="breadcrumb-item">
                      {{item.prop1  | titlecase}}
                      </li>
                  
                    </ol>
                  </nav>
     </div>

    <div class="product_banner">
        
        <!-- <div 
        (click)="Share()"
        class="heart">
                <ion-icon 
                
                size="large" name="share-social-outline"></ion-icon>
        </div> -->
        
        <!-- <ol class="breadcrumb">
                {{breakcrumb}}
        </ol> -->
        <!-- <img src="/assets/imgs/asset_product.png"> 
        
        -->
        <div class="shop_list">
                <ion-slides loop="true"
                [pager]="true"
                slidesPerView="3.5" 
                spaceBetween="5px">
                    <ion-slide      
                    *ngFor="let item of Images" 
                    (click)="ViewPrescription(item)"
                     >
                        <img  
                        [src]="item">
                    </ion-slide>
                
                </ion-slides>
            </div>
        <h3>{{CurrentProduct.product_name}}</h3>
        <h6 *ngIf="CurrentProduct.composition && CurrentProduct.composition.length >= 1" style="text-align: left">Composition : {{CurrentProduct.composition}}</h6>
        <h6 *ngIf="CurrentProduct.strength && CurrentProduct.strength.length >= 1" style="text-align: left">Strength : {{CurrentProduct.strength}}</h6>
        <h4 *ngIf="!InvalidCombination">
            <div style="margin-bottom: 3px;margin-top: 3px">
                    <span>Sale price</span>
            </div>
            <span 
            *ngIf="SelectedPrice.price > SelectedPrice.discount"
            class="original_price">&#x20b9; {{SelectedPrice.price | number:'1.0-0'}}
            </span>
            <span class="discount_price">&#x20b9; 
                {{SelectedPrice.discount | number:'1.0-0'}}
            </span>
        </h4>
        <h4 *ngIf="InvalidCombination">
                This combination is not available
        </h4>
        <ion-row *ngIf="!InvalidCombination">
            <ion-col 
            *ngIf="SelectedPrice.discount_persent > 0 && SelectedPrice.price > SelectedPrice.discount"
            col-4 class="p0">
                <h5>{{SelectedPrice.discount_persent | number:'1.0-0'}}% OFF</h5>
            </ion-col>
            <ion-col col-8 class="p0 textRight" >
                <!-- <h6>
                    <span 
                    (click)="count = count - 1"
                    class="control floatRight">-</span>
                    <span><div class="circle floatRight">{{count}}</div></span>
                    <span 
                    (click)="count = count + 1"
                    class="control floatRight">+</span>
           
                    <div class="clear"></div>
                </h6> -->
                <ion-item style="float: right;" lines="none">
                        <ion-icon
                        color="medium"
                        size="large" name="add-circle" 
                        (click)="IncCount()" item-right></ion-icon>
                        <p style="margin: 0px;margin-left: 5px;margin-right: 5px;font-size: 6vw;">{{count}}</p>
                        <ion-icon 
                        color="medium"
                        size="large" name="remove-circle" 
                        (click)="DexCount()" item-right></ion-icon>
               </ion-item>

                <!-- <form >
                    <label for="cars">QTY : </label>
                    <select 
                    name="QTY"
                    [(ngModel)]="count"
                     >
                            <option  selected [value]="1">1</option>
                            <option [value]="2">2</option>
                            <option [value]="3">3</option>
                            <option [value]="4">4</option>
                            <option [value]="5">5</option>
                            <option [value]="6">6</option>
                            <option [value]="7">7</option>
                            <option [value]="8">8</option>
                            <option [value]="9">9</option>
                            <option [value]="10">10</option>
                    </select>
                  </form> -->

            </ion-col>
        </ion-row>

        <ion-row>
                <ion-col col-4 class="p0">
                        <ion-button  
                        [disabled]="SelectedPrice.quantity <= 0 || !SelectedPrice || !SelectedPrice.quantity || InvalidCombination" 
                        class="float-right"
                        size="medium"
                        (click)="Addtocart()"
                        color="medium" 
                        shape="round"
                        style="color: white;" 
                        > <span style="color: white"> 
                           <span><ion-icon 
                            name="cart-outline"></ion-icon></span>
                           Add to cart</span> </ion-button>
                </ion-col>

            </ion-row>
    </div>
    
     <div class="product_details">
        <ul>
            <li *ngIf="AttributeList.length != 0">
             <ion-list>
                           
                <ion-item  lines="none" *ngFor="let item of AttributeList; index as i;">
                              <ion-label>{{item.key  | titlecase}}</ion-label>
                              <ion-select interface="action-sheet" text-wrap
                              (ionChange)="AttributeChange(i,TempList[i])"
                              [(ngModel)]="TempList[i]"
                               >
                                <ion-select-option  text-wrap
                                *ngFor="let item2 of item.list;"
                                [value]="item2.attibute">{{item2.attibute_name}}
                               </ion-select-option>
                              
                              </ion-select>
                </ion-item>

                            
            </ion-list>

                    <!-- <ion-item   
                        *ngIf="ShowAttributes && CurrentProduct.attibute_name.length >= 1">
                        <ion-label>{{CurrentProduct.attibute_name}}</ion-label>
                        <ion-select
                        [(ngModel)]="SelectedPrice"
                        name="d"
                        interface="popover">
                        <ion-select-option *ngFor="let Pitem of Prices" 
                        [value]="Pitem"
                         >{{Pitem.attibute_name}}</ion-select-option>
                        </ion-select>
                      </ion-item> -->

                        <!-- <ion-list>  
                         <ion-icon style="margin-right: 10px" name="location-outline"></ion-icon>                      
                           <ion-label style="font-weight: bolder"
                         >Delivers in <strong>{{Location}}</strong></ion-label>
                         <ion-button expand="block" fill="outline">Change</ion-button>
                        </ion-list> -->
            
                        
            </li>
            <li>Stock
                <div *ngIf="SelectedPrice.quantity >= 1" class="check floatRight">
                    In-Stock 
                </div>
                <div  *ngIf="SelectedPrice.quantity <= 0 || !SelectedPrice || !SelectedPrice.quantity" class="OutOfStock floatRight">
                    Sold Out 
                </div>
                
                <!-- <div class="clear">
                   Quantity Available -  {{SelectedPrice.quantity}}
                </div> -->
            </li>
  
            <li *ngIf="CurrentProduct && CurrentProduct.description && CurrentProduct.description.length >= 2">PRODUCT DETAILS
                    <br>
                    <!-- [innerHTML]="CurrentProduct.description" -->
                    <div class="description">
                        <div [innerHTML]="CurrentProduct.description">
                        </div>
                    </div>

            </li>
           

        </ul>
        <div class="shop_list">
            <h4>Similar Products</h4>
            <ion-slides [options]="sliderConfig">
                    <ion-slide 
                    *ngFor="let product of RelatedProducts"
                    >
                    <div  (click)="Nevigatetoproduct(product)">
                            <ion-card 
                            [ngStyle]="{'width.px':  ProductCardWidth}"
                            >
                   
                            <div 
                            *ngIf="Showsale(product.productPrice,product.discount)"
                            style="height: 10px;margin: 0px">
                                    <ion-card 
                                    style="background-color: green;width: 30%">
                                    
                                            <p 
                                            style="color: white">SALE</p>
                                    </ion-card>
                            </div>

                            <div 
                            *ngIf="!Showsale(product.productPrice,product.discount)"
                            style="height: 10px;margin: 0px;visibility: hidden;">
                                    <ion-card 
                                    style="background-color: white;width: 30%">
                                    
                                            <p 
                                            style="color: white"></p>
                                    </ion-card>
                            </div>

                            <ion-card 
                            style="border-radius: 10px;"
                            [ngStyle]="{'height.px': ProductCardHeight}"
                            >
                            <img  class="classimg"
                            [src]="product.image" />
                        </ion-card>
              

                                <div [ngStyle]="{'height.px': 110}">
                                        <ion-row>
                                                
                                           

                                            <p style="font-size: 13px;color: black;float: left; text-align: left;margin-left: 8px;
                                            overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical">
                                                    {{product.name}}
                                            </p>


                                
                                                      
                                            </ion-row>
                    
                                            <ion-row 
                                            *ngIf="product.productPrice > product.discount"
                                            style="bottom: 0;position: absolute;">

                                                
                                            <div style="width: 100%">
                                                 <p
                                            style="margin: 8px;margin-bottom: 0px; font-size: 2.5vw;float: left;color: black;"
                                            > MRP:  &#x20b9; <span style="text-decoration: line-through">{{product.productPrice}}</span>
                                        
                                                <span style="margin-left: 5px;color: green;"> 
                                                <strong> {{ product.discount | discount:product.productPrice:product.discount}} </strong>
                                                </span>
                                            </p> 
                                            </div>

                                           
                                          
                                                   
                                            <div>
                                                    <p
                                                    style="margin: 8px; margin-top: 0px; font-size: 15px;float: left;color: black;display: block;"
                                                    >&#x20b9; <strong>{{product.discount}}</strong></p>
                                            </div>
                                            
                                             </ion-row>


                                                                      
                                            <ion-row 
                                            *ngIf="product.productPrice <= product.discount"
                                            style="bottom: 0;position: absolute;">

                                                


                                                                                      
                                                   
                                            <div>
                                                    <p
                                                    style="margin: 8px; margin-top: 0px; font-size: 15px;float: left;color: black;display: block;"
                                                    > MRP: &#x20b9; <strong>{{product.discount}}</strong></p>
                                            </div>
                                            
                                             </ion-row>
                                </div>
                          


                        </ion-card>


                    
                      </div>
                     
                    </ion-slide>
                
                </ion-slides>
        </div>
   
    </div> 

    </div>


    <div  *ngIf="ShowErroPage" class="container">

            <img 
            class="center"
            style="height: 20%;margin-top: 100px"
            src="/assets/icon/error.svg" alt="">
        
        
            <br>
            <br>
        
            <ion-label 
            class=" ion-text-wrap ">
            <h5 style="font-size: 6vw;text-align: center">Something went wrong.</h5>
            </ion-label>
        
       
        </div>
    

</ion-content>




<!-- <ion-footer 
*ngIf="ShowGoToCart"
padding style="background-color: #efefef">
         <ion-button   
         (click)="NevigatetoCart()"
         size="large"
         color="medium" shape="round"
         style="margin: 20px;color: white;" 
         expand="block"> <span style="color: white"> 
            <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
            View Cart</span> </ion-button>

    </ion-footer> -->
