<ion-content>
    <div class="login_wrapper">
        <div class="login_form">
            <ion-icon class="float-right"
            style="margin: 22px" 
            (click)="Dismiss()"
            size="large"
            name="close-outline"></ion-icon>
            <h3>Forgot password</h3>
    
            <hr>

            <form autocomplete="off"
            (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm"
            name="myForm">
                <ion-item>
                  
                    <ion-label position="floating">Phone No</ion-label>
                    <ion-input type="tel" 
                    required 
                    autocomplete="off"
                    [(ngModel)]="PhoneNo"
                    name="PhoneNo"
                    minlength="10"
                    maxlength="10"
                    placeholder="Phone No"></ion-input>
                    
                </ion-item>

       

            

                <ion-item>
                    <ion-label position="floating">New Password</ion-label>
                    <ion-input 
                    type="password"
                    autocorrect=“false” autocomplete=“false” spellcheck=“false”
                    [(ngModel)]="NPassword" 
                    required
                    minlength="6"
                    name="NPassword"
                    placeholder="New Password">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Confirm Password</ion-label>
                    
                    <ion-input type="password" 
                    [(ngModel)]="CPassword" 
                    required
                    autocorrect=“false” autocomplete=“false” spellcheck=“false”
                    minlength="6"
                    name="CPassword"
                    placeholder="Confirm Password"></ion-input>

                </ion-item>

                <ion-item>
                    <ion-label position="floating">Verification Code</ion-label>
                    
                    <ion-input type="tel" 
                    [(ngModel)]="OTPVALUE" 
                    required
                    autocomplete="off"
                    minlength="4"
                    maxlength="4"
                    name="OTPVALUE"
                    placeholder="Verification Code"></ion-input>

                </ion-item>

                    
                <ion-button  
                [disabled]="!AllowResend || !PhoneNo || PhoneNo.length != 10"
                (click)="SendOTP()"
                
                > <span style="color: white"> 
                  
                   Get Verification Code</span>
                
                   <ion-ripple-effect></ion-ripple-effect>
              
                  <span
                
                  style="float: right; margin-left: 10px">
                   (  {{TimerValue}} sec) 
                  </span>

                  </ion-button>

        

                <ion-button  
                class="ion-activatable ripple-parent" 
                type="Submit"
                [disabled]="f.form.pristine || f.form.invalid "
                size="large"
                color="medium" shape="round"
                style="margin: 20px;color: white;" 
                expand="block"> <span style="color: white"> 
                  
                   Submit</span>
                
                   <ion-ripple-effect></ion-ripple-effect>
                </ion-button>


<!-- 
                <p (click)="Dismiss()"> <strong 
                  
                  >Login</strong></p>
 -->



                </form>
           

         
        </div>
    </div>
</ion-content>