
<ion-content>




  
  <ion-row>
      <ion-col size="8">
          <h1 style="font-size: 25px;font-weight: bolder;
          margin-left: 20px
          "> Choose your <br> Location
          </h1>
      </ion-col>
      <ion-col>
       
  <ion-icon class="float-right"
  style="margin: 22px" 
  [routerLink]="['/main/tabs/home']"  
  size="large"
  name="close-outline"></ion-icon>
   
</ion-col>

    </ion-row>

    <ion-row>
         
        <ion-col  size="8" >

        <div class="form-group">
          <input 
          style="margin-left: 20px"
          type="text" class="form-control" id="coupon_code"
           placeholder="Check Pincode" name="coupon_code">
          <b><span id="message" style="color:green;"></span></b>
        </div>

        </ion-col>

        <ion-col >

            <button
            class="float-right"
            style="margin-left: 20px"
            id="apply" class="btn btn-default">Check</button>

        </ion-col>
     
    </ion-row>

  <ion-row>

    <p  (click)="GetMyLocation()"
    style="color:#24abaa;margin-left: 25px;font-size: 20px;font-weight: bolder"
    >
    <ion-icon name="location-outline"></ion-icon>
    Mark My Location</p>

</ion-row>
</ion-content>


<ion-footer>
   
        <h4 style="font-size: 15px;font-weight: bolder;
        margin-left: 20px
        ">Saved Addressess</h4>

        <ion-slides [options]="sliderConfig">
                <ion-slide 
                *ngFor="let item of AddressList"
                 >
                 <ion-card 
                 [ngStyle]="{'width.px': cardWidth}"
                 style="border-style: dotted;">

                        <ion-card-header>

                                <ion-row>
                                        <ion-col size="2">
                                            <ion-icon 
                                            size = "large"
                                            [src]="GetAddressIcon(item.address_type)"></ion-icon>
                                        </ion-col>
                                        <ion-col>

                                                <ion-card-title *ngIf="item.address_type == 1">Home</ion-card-title>
                                                <ion-card-title *ngIf="item.address_type == 2">Office</ion-card-title>
                                                <ion-card-title *ngIf="item.address_type == 0">Other</ion-card-title>

                                </ion-col>

                            </ion-row>
                        </ion-card-header>
                        <ion-card-content>
                      
                           {{item.name}} <br>
                           {{item.phone}} <br>
                           <!-- {{item.landmark}} <br> -->
                           {{item.address}} <br>
                        </ion-card-content>
                      </ion-card>

                </ion-slide>

                <ion-slide 
                 >
                      <ion-card 
                      [ngStyle]="{'width.px': cardWidth}"
                      (click)="NewAddress()"
                      style="border-style: dotted;color: green">
                            <ion-card-header>
                                    <ion-icon  style="color: green"
                                    size="large"
                                    name="add-circle"></ion-icon>                            </ion-card-header>
                          
                            <ion-card-content>
                                <p>Add New Address</p>
                            </ion-card-content>
                          </ion-card>

                </ion-slide>
                        
            </ion-slides>
 

            <h4 style="font-size: 10px;font-weight: bolder;
            padding: 20px;background-color: #dddddd
            ">
            <span><ion-icon
                size="large"
                name="bicycle"></ion-icon></span>
            Currently serving in Burari and Near by areas</h4>


  </ion-footer>
