<!-- <div *ngIf="Splash" class="splashclass">
    <div class="spinner"></div>
</div> -->

<div *ngIf="Splash">
    <div class="login_wrapper">
        <img src="/assets/imgs/asset_login_img.png" class="login_title">
        <div class="logo_div">
            <img src="/assets/imgs/asset_logo.png">
        </div>
        
    </div>
    
<div
style="position: absolute;bottom: 0;background-color: #24abaa"> 
    <ion-list style="background-color: #24abaa">


        <ion-item color="medium">
          <!-- <ion-avatar style="background-color: #24abaa" slot="start">
            <img src="./avatar-finn.png">
          </ion-avatar> -->
          <h5 style="color: white;"> 
           Upto 50% Off on wellness products.
         </h5>
        </ion-item>

        <ion-item color="medium">
          <!-- <ion-avatar slot="start">
            <img src="./avatar-han.png">
          </ion-avatar> -->
          <h5 style="color: white;"> 
              Authticity Grantee
            </h5>
        </ion-item>

        <ion-item color="medium">
          <!-- <ion-avatar slot="start">
            <img src="./avatar-rey.png">
          </ion-avatar> -->
          <h5 style="color: white;"> 
              Delivery over 30+ cities.
            </h5>
        </ion-item>

        <ion-item color="medium">
          <!-- <ion-avatar slot="start">
            <img src="./avatar-luke.png">
          </ion-avatar> -->
          <h5 style="color: white;"> 
              10000+ products. Near 100% fulfillment rate
            </h5>
        </ion-item>
      </ion-list>
  </div> 




</div>

<!-- <ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->

<div  *ngIf="!Splash">
    <ion-router-outlet ></ion-router-outlet>
 
</div>

 
