
    .prescription_wrapper {
        width: 100%;
        h4 {
            text-align: center;
            color: #4f4f4f;
            font-weight: 400;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .prescription_div {
            width: 290px;
            border: 1px solid #4f4f4f;
            margin: 0 auto;
            border-radius: 20px;
            .prescription_inner {
                width: 50%;
                text-align: center;
                font-size: 18px;
                padding: 5px;
                border-right: 1px solid #4f4f4f;
                font-weight: 400;
                img {
                    width: 20px;
                    margin-right: 10px;
                    position: relative;
                    top: 1px;
                }
            }
        }
        p {
            text-align: center;
            color: #646464;
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            a {
                color: #24abaa;
            }
        }
        h2 {
            text-align: center;
            color: #252525;
            font-weight: 400;
            padding-top: 10px;
        }
        .radio_div {
            width: 190px;
            margin: 0 auto;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            .label {
                margin: 0px;
                display: inline-block;
                margin-left: 10px;
                margin-right: 20px;
                font-size: 22px;
            }
            .radio {
                display: inline-block;
                position: relative;
                bottom: 5px;
            }
        }
        textarea {
            width: 100%;
            border: none;
            border: 1px solid #acacac;
            padding: 10px;
            font-size: 16px;
        }
    }

    .floatLeft {
        float: left !important;
      }
      
      .floatRight {
        float: right !important;
      }
      .borderNone {
        border: none !important;
      }
      

      .thumbnail {
        width:150px;
        height:210px;
        margin: auto auto;
        position:relative;
    }
    
    .thumbnail img {
        max-width:100%;
        max-height:100%;
    }
    
    .cross {
        display:block;
        position:absolute;
        top:-20px;
        right:-28px;
        overflow:hidden;
    }
    


    
/* The Modal (background) */
.modal {
   
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }