<ion-header>
    <div class="nav_header">
        <button 
        (click)="Dismiss()"
        ion-button class="nav_btn floatLeft" >
            <ion-icon name="arrow-back-outline"></ion-icon>
        </button>
        <div class="nav_header_title floatLeft">
           Add New Address
        </div>
        <button 
        (click)="Submit()"
        ion-button class="nav_btn floatLeft">
            <ion-icon name="save-outline"></ion-icon>
                  </button>
        <div class="clear"></div>
    </div>
</ion-header>


<ion-content padding>
    <div class="personal_detail_wrapper">
        <form [formGroup]="Addressform">
            <div class="personal_details_form">

                <ion-item>
                    <ion-label>Address Type</ion-label>
                    <ion-select
                    formControlName="AddressType"
                    placeholder="Select One">
                      <ion-select-option value="1">Home</ion-select-option>
                      <ion-select-option value="2">Office</ion-select-option>
                      <ion-select-option value="0">Other</ion-select-option>
    
                    </ion-select>
                  </ion-item>
    
                <ion-item>
                        <ion-label position="floating">Name</ion-label>
                    <ion-input 
                    formControlName="Name"
                     type="text"></ion-input>
                </ion-item>
                <ion-item>
                        <ion-label position="floating">Mobile No</ion-label>
                    <ion-input
                    formControlName="Mobile"
                  type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Address</ion-label>
                    <ion-textarea

                    formControlName="Address"  
                    ></ion-textarea>

                </ion-item>
                <ion-item>
                        <ion-label position="floating">State</ion-label>

                    <ion-input
                    formControlName="State"
                     type="text"></ion-input>
                </ion-item>
                <ion-item>
                        <ion-label position="floating">City</ion-label>

                    <ion-input 
                    formControlName="City"
                     type="text"></ion-input>
                </ion-item>
                <ion-item>
                        <ion-label position="floating">Pincode</ion-label>

                    <ion-input
                    formControlName="Pincode"
                     type="text"></ion-input>
                </ion-item>
    
                <ion-item>
                        <ion-label position="floating">LandMark</ion-label>

                    <ion-input 
                    formControlName="LandMark"
                     type="text"></ion-input>
                </ion-item>
    
                <ion-item>
                        <ion-label position="floating">Place</ion-label>

                    <ion-input 
                    formControlName="Place"
                     type="text"></ion-input>
                </ion-item>
              
               
            </div>

        </form>
       
    </div>
</ion-content>