<ion-header>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title style="color:white">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="profile_banner">
        <div class="profile_circle">
            <img [src]="LogedInUser.Image" alt="">
            <div class="profile_edit">
                <ion-icon name="create"></ion-icon>
            </div>
        </div>
        <h6>{{LogedInUser.Name}}</h6>
        <p>{{LogedInUser.Email}}</p>
    </div>
    <div class="profile_menu">
        <ul>
            <li [routerLink]="['/main/my-orders']">
                <img src="/assets/imgs/asset_n1.png">
                <p>My order</p>
            </li>
            <li [routerLink]="['/main/location/address']" routerLinkActive="router-link-active" >
                <img src="/assets/imgs/asset_n2.png">
                <p>Address</p>
            </li>
            <li [routerLink]="['/main/my-prescription']">
                <img src="/assets/imgs/asset_n7.png">
                <p>Prescription</p>
            </li>
            <!-- <li (click)="wallet()">
                <img src="/assets/imgs/asset_n4.png">
                <p>P24 Wallet</p>
            </li>
            <li (click)="wishlist()">
                <img src="/assets/imgs/asset_n5.png">
                <p>Wishlist</p>
            </li>
            <li routerLink="/notifications">
                <img src="/assets/imgs/asset_n6.png">
                <p>Notification</p>
            </li> -->
            <li [routerLink]="['/main/my-prescription']">
                <img src="/assets/imgs/asset_n7.png">
                <p>Prescription</p>
            </li>
            <li [routerLink]="['changepassword']"  >
                <img src="/assets/imgs/asset_n4.png">
                <p>Password</p>
            </li>
            <li (click)="Signout()">
                <img src="/assets/imgs/asset_n4.png">
                <p>Signout</p>
            </li>

        </ul>
    </div>

</ion-content>
