<ion-header>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title style="color:white">profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="profile_banner">
        <div class="profile_circle">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEWY4I6Wgj5_w/profile-displayphoto-shrink_200_200/0?e=1586390400&v=beta&t=Jz7Zs91C46HrrpTYYVhRM9XMDem7uDJXlYjG0msHQUM" alt="">
            <div class="profile_edit">
                <ion-icon name="create"></ion-icon>
            </div>
        </div>
        <h6>Vipul Dimri</h6>
        <p>vipul.dimri@avl.com</p>
    </div>
    <div class="profile_menu">
        <ul>
            <li (click)="order()">
                <img src="/assets/imgs/asset_n1.png">
                <p>My order</p>
            </li>
            <li [routerLink]="['/main/location/address']" routerLinkActive="router-link-active" >
                <img src="/assets/imgs/asset_n2.png">
                <p>Address</p>
            </li>
            <li (click)="consultation()">
                <img src="/assets/imgs/asset_n3.png">
                <p>Consultation</p>
            </li>
            <li (click)="wallet()">
                <img src="/assets/imgs/asset_n4.png">
                <p>P24 Wallet</p>
            </li>
            <li (click)="wishlist()">
                <img src="/assets/imgs/asset_n5.png">
                <p>Wishlist</p>
            </li>
            <li routerLink="/notifications">
                <img src="/assets/imgs/asset_n6.png">
                <p>Notification</p>
            </li>
            <li routerLink="/my-prescription">
                <img src="/assets/imgs/asset_n7.png">
                <p>Prescription</p>
            </li>
            <li [routerLink]="['changepassword']"  >
                <img src="/assets/imgs/asset_n4.png">
                <p>Change Password</p>
            </li>
            <li (click)="Signout()">
                <img src="/assets/imgs/asset_n4.png">
                <p>Signout</p>
            </li>

        </ul>
    </div>

</ion-content>
