<ion-header >
    <div class="nav_header">

        <ion-menu-button class="nav_btn nav_menu floatLeft"></ion-menu-button>

        <div 
        style="padding-bottom: 0px;margin: 5px"
        class="nav_header_title floatLeft">
            <!-- <img src="/assets/imgs/asset_white_logo.png"> -->
            <ion-row>
                    <p 
                    style="font-size: 15px;margin-top: -10px">Wellclap.com</p>
            </ion-row>

             <ion-row [routerLink]="['/main/location']">
                    <p style="font-size: 17px;margin-top: -15px;font-weight: bolder">Delivers To {{Location}}
                            <ion-icon name="chevron-down"></ion-icon>
                    </p>
                            </ion-row>
        </div>

   
  
        <button 
        [routerLink]="['/main/my-cart']" 
        style="float: right;"
        class="nav_btn nav_cart floatright">
        </button>

        <a href="https://api.whatsapp.com/send?phone=917011775511" 
        target="_parent">
        <button 
              
        style="float: right;"
        class="nav_btn nav_whatapp floatright">
     
        </button>
    </a>


        

        <!-- <button  slot="end"
        [routerLink]="['/main/location']"   
         style="float: right;"
        class="nav_btn nav_notification floatright  borderNone ">
       
        </button> -->
        <div class="clear"></div>

    </div>

    <ion-searchbar
    style="background-color: #31a3a0"
    (click)="Search()"
    placeholder="Search medicine"></ion-searchbar>
</ion-header> 


 <ion-content  >

  <div style="background: #fcf9f9;">

<div class="home_offer_slider">

        <div class="scrolling-wrapper">
              
            <img 
            [ngStyle]="{'height.px': SliderImageHeight}"
                style="width:100%"
                src="assets/imgs/asset_poster1.png">
                   
            
                <img 
                [ngStyle]="{'height.px': SliderImageHeight}"
                style="width:100%"
                src="assets/imgs/asset_poster2.png">


                <img 
                [ngStyle]="{'height.px': SliderImageHeight}"
                style="width:100%"
                src="assets/imgs/pic1.jpeg" alt="">
                
            </div>

        <!-- <ion-slides 
        loop="true"
        [pager]="true"
        slidesPerView="1" spaceBetween="5px">
         <ion-slide (click)="medicinelist()">
                <img 
                style="height: 164.6px;width:411px"
                src="assets/imgs/asset_poster1.png">
            </ion-slide>
            <ion-slide (click)="medicinelist()">
                <img 
                style="height: 164.6px;width:411px"
                src="assets/imgs/asset_poster2.png">
            </ion-slide>
        </ion-slides> -->
    </div>
    <div style="height: 50px;" class="home_header">
        <div class="home_header_left">
                <p style="font-size: 3.9vw;margin: 0px">
                                Order with prescriptions
                </p>
          
        </div>
        <button 
        (click)="Upload()"
        class="upload_btn">UPLOAD</button>
        <div class="clear"></div>
    </div>

        <div  class="shop_list" >
                        <h4 style="vertical-align: middle">
                                        <span style="visibility: collapse">HIDDEN</span>
                                        <span 
                                        style="float: left;font-size: 4.0vw">
                                        SHOP BY CATEGORY</span>

                                        <span 
                                        [routerLink]="['../../../category']"
                                        style="float: right;color: #31a3a0;font-size: 3.0vw">
                                        <strong>SEE ALL</strong></span>
   
                        </h4>
               
                  <div style="padding: 10px">
                        <ion-slides [options]="sliderBrandConfig" >
                                <ion-slide  *ngFor="let cat of Categories">
                           
                                                <div  >
                                                                <ion-card  (click)="Nevigatetocategory(cat.category_id)"
                                                                [ngStyle]="{'width.px':  ProductCardWidth}"
                                                                >
                                           
                                                                <ion-card 
                                                                style="border-radius: 10%;"
                                                                [ngStyle]="{'height.px': ProductCardHeight}"
                                                                >
                                                                <img  class="classimg"
                                                                [src]=" 'http://www.wellclap.com/' +  cat.category_pic" alt=""  />
                                                              
                                                        
                        
                                                              </ion-card>


                                                               <div 
                                                               style="text-align: center;height: 50px;">

                                                                <p>
                                                                   <strong>{{cat.category_name | titlecase}}</strong>     
                                                                        </p>

                                                               </div>
                                                  
                                                               
                                       
                                
                                                           
                                                              
                                
                                
                                                            </ion-card>
                                    
                                  
                                                        
                                                          </div>
                    


                                          
                                </ion-slide>
                      
                       </ion-slides>
                  </div>
                        
                       
                   
                   
                </div>

       <div  class="shop_list" >
                        <h4 style="vertical-align: middle;margin-top: 5px">
                                        <span style="visibility: collapse">HIDDEN</span>
                                        <span 
                                        style="float: left;font-size: 4.0vw">
                                        WELLCLAP RECOMMENDED</span>

               
                        </h4>
               
                  <div style="padding: 10px">
                        <ion-slides [options]="sliderConfig">
                                <ion-slide  
                                *ngFor="let product of Recomm"                        >
        
                
                              <div  (click)="Nevigatetoproduct(product)">
                                    <ion-card 
                                    [ngStyle]="{'width.px':  ProductCardWidth}"
                                    >
                           
                                    <div 
                                    *ngIf="Showsale(product.productPrice,product.discount)"
                                    style="height: 10px;margin: 0px">
                                            <ion-card 
                                            style="background-color: green;width: 30%">
                                            
                                                    <p 
                                                    style="color: white">SALE</p>
                                            </ion-card>
                                    </div>

                                    <div 
                                    *ngIf="!Showsale(product.productPrice,product.discount)"
                                    style="height: 10px;margin: 0px;visibility: hidden;">
                                            <ion-card 
                                            style="background-color: white;width: 30%">
                                            
                                                    <p 
                                                    style="color: white"></p>
                                            </ion-card>
                                    </div>

                                    <ion-card 
                                    style="border-radius: 10px;"
                                    [ngStyle]="{'height.px': ProductCardHeight}"
                                    >
                                    <img  class="classimg"
                                    [src]="product.image" />
                                </ion-card>
                      

                                        <div [ngStyle]="{'height.px': 110}">
                                                <ion-row>
                                                        
                                                   

                                                    <p style="font-size: 13px;color: black;float: left; text-align: left;margin-left: 8px;
                                                    overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical">
                                                            {{product.name}}
                                                    </p>


                                        
                                                              
                                                    </ion-row>
                            
                                                    <ion-row 
                                                    *ngIf="product.productPrice > product.discount"
                                                    style="bottom: 0;position: absolute;">
    
                                                        
                                                    <div style="width: 100%">
                                                         <p
                                                    style="margin: 8px;margin-bottom: 0px; font-size: 2.5vw;float: left;color: black;"
                                                    > MRP:  &#x20b9; <span style="text-decoration: line-through">{{product.productPrice}}</span>
                                                
                                                        <span style="margin-left: 5px;color: green;"> 
                                                        <strong> {{ product.discount | discount:product.productPrice:product.discount}} </strong>
                                                        </span>
                                                    </p> 
                                                    </div>

                                                   
                                                  
                                                           
                                                    <div>
                                                            <p
                                                            style="margin: 8px; margin-top: 0px; font-size: 15px;float: left;color: black;display: block;"
                                                            >&#x20b9; <strong>{{product.discount}}</strong></p>
                                                    </div>
                                                    
                                                     </ion-row>


                                                                              
                                                    <ion-row 
                                                    *ngIf="product.productPrice <= product.discount"
                                                    style="bottom: 0;position: absolute;">
    
                                                        


                                                                                              
                                                           
                                                    <div>
                                                            <p
                                                            style="margin: 8px; margin-top: 0px; font-size: 15px;float: left;color: black;display: block;"
                                                            > MRP: &#x20b9; <strong>{{product.discount}}</strong></p>
                                                    </div>
                                                    
                                                     </ion-row>
                                        </div>
                                  


                                </ion-card>
        
      
                            
                              </div>
                             
                                    
                                </ion-slide>
                            
                       </ion-slides>
                  </div>
                        
                       
                   
                   
                </div>
         

            <div  class="shop_list" >
                        <h4 style="vertical-align: middle;margin-top: 5px">
                                        <span style="visibility: collapse">HIDDEN</span>
                                        <span 
                                        style="float: left;font-size: 4.0vw">
                                        DEAL TO STEALS</span>

               
                        </h4>
               
                  <div style="padding: 10px">
                        <ion-slides [options]="sliderConfig">
                                <ion-slide  
                                *ngFor="let product of BestDealsProducts"                        >
        
                
                              <div  (click)="Nevigatetoproduct(product)">
                                    <ion-card 
                                    [ngStyle]="{'width.px':  ProductCardWidth}"
                                    >
                           
                                    <div 
                                    *ngIf="Showsale(product.productPrice,product.discount)"
                                    style="height: 10px;margin: 0px">
                                            <ion-card 
                                            style="background-color: green;width: 30%">
                                            
                                                    <p 
                                                    style="color: white">SALE</p>
                                            </ion-card>
                                    </div>

                                    <div 
                                    *ngIf="!Showsale(product.productPrice,product.discount)"
                                    style="height: 10px;margin: 0px;visibility: hidden;">
                                            <ion-card 
                                            style="background-color: white;width: 30%">
                                            
                                                    <p 
                                                    style="color: white"></p>
                                            </ion-card>
                                    </div>

                                    <ion-card 
                                    style="border-radius: 10px;"
                                    [ngStyle]="{'height.px': ProductCardHeight}"
                                    >
                                    <img  class="classimg"
                                    [src]="product.image" />
                                </ion-card>
                      

                                        <div [ngStyle]="{'height.px': 110}">
                                                <ion-row>
                                                        
                                                   

                                                    <p style="font-size: 13px;color: black;float: left; text-align: left;margin-left: 8px;
                                                    overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical">
                                                            {{product.name}}
                                                    </p>


                                        
                                                              
                                                    </ion-row>
                            
                                                    <ion-row 
                                                    *ngIf="product.productPrice > product.discount"
                                                    style="bottom: 0;position: absolute;">
    
                                                        
                                                    <div style="width: 100%">
                                                         <p
                                                    style="margin: 8px;margin-bottom: 0px; font-size: 2.5vw;float: left;color: black;"
                                                    > MRP:  &#x20b9; <span style="text-decoration: line-through">{{product.productPrice}}</span>
                                                
                                                        <span style="margin-left: 5px;color: green;"> 
                                                        <strong> {{ product.discount | discount:product.productPrice:product.discount}} </strong>
                                                        </span>
                                                    </p> 
                                                    </div>

                                                   
                                                  
                                                           
                                                    <div>
                                                            <p
                                                            style="margin: 8px; margin-top: 0px; font-size: 15px;float: left;color: black;display: block;"
                                                            >&#x20b9; <strong>{{product.discount}}</strong></p>
                                                    </div>
                                                    
                                                     </ion-row>


                                                                              
                                                    <ion-row 
                                                    *ngIf="product.productPrice <= product.discount"
                                                    style="bottom: 0;position: absolute;">
    
                                                        


                                                                                              
                                                           
                                                    <div>
                                                            <p
                                                            style="margin: 8px; margin-top: 0px; font-size: 15px;float: left;color: black;display: block;"
                                                            > MRP: &#x20b9; <strong>{{product.discount}}</strong></p>
                                                    </div>
                                                    
                                                     </ion-row>
                                        </div>
                                  


                                </ion-card>
        
      
                            
                              </div>
                             
                                    
                                </ion-slide>
                            
                       </ion-slides>
                  </div>
                        
                       
                   
                   
                </div>
         
            
       <div>
                <h4 style="vertical-align: middle">
                                <span style="visibility: collapse">HIDDEN</span>
                                <span 
                                style="float: left;font-size: 4.0vw">
                                HOT SELLER</span>

       
                </h4>
           
            <div   style="padding: 10px">
          
                <ion-slides [options]="sliderConfig">
                        <ion-slide 
                        *ngFor="let product of BestSellersProducts"
                        >
               
                      
                          <div  (click)="Nevigatetoproduct(product)">
                                <ion-card 
                                [ngStyle]="{'width.px':  ProductCardWidth}"
                                >
                       
                                <div 
                                *ngIf="Showsale(product.productPrice,product.discount)"
                                style="height: 10px;margin: 0px">
                                        <ion-card 
                                        style="background-color: green;width: 30%">
                                        
                                                <p 
                                                style="color: white">SALE</p>
                                        </ion-card>
                                </div>

                                <div 
                                *ngIf="!Showsale(product.productPrice,product.discount)"
                                style="height: 10px;margin: 0px;visibility: hidden;">
                                        <ion-card 
                                        style="background-color: white;width: 30%">
                                        
                                                <p 
                                                style="color: white"></p>
                                        </ion-card>
                                </div>

                                <ion-card 
                                style="border-radius: 10px;"
                                [ngStyle]="{'height.px': ProductCardHeight}"
                                >
                                <img  class="classimg"
                                [src]="product.image" />
                            </ion-card>
                  

                                    <div [ngStyle]="{'height.px': 110}">
                                            <ion-row>
                                                    
                                               

                                                <p style="font-size: 13px;color: black;float: left; text-align: left;margin-left: 8px;
                                                overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical">
                                                        {{product.name}}
                                                </p>


                                    
                                                          
                                                </ion-row>
                        
                                                <ion-row 
                                                *ngIf="product.productPrice > product.discount"
                                                style="bottom: 0;position: absolute;">

                                                    
                                                <div style="width: 100%">
                                                     <p
                                                style="margin: 8px;margin-bottom: 0px; font-size: 2.5vw;float: left;color: black;"
                                                > MRP:  &#x20b9; <span style="text-decoration: line-through">{{product.productPrice}}</span>
                                            
                                                    <span style="margin-left: 5px;color: green;"> 
                                                    <strong> {{ product.discount | discount:product.productPrice:product.discount}} </strong>
                                                    </span>
                                                </p> 
                                                </div>

                                               
                                              
                                                       
                                                <div>
                                                        <p
                                                        style="margin: 8px; margin-top: 0px; font-size: 15px;float: left;color: black;display: block;"
                                                        >&#x20b9; <strong>{{product.discount}}</strong></p>
                                                </div>
                                                
                                                 </ion-row>


                                                                          
                                                <ion-row 
                                                *ngIf="product.productPrice <= product.discount"
                                                style="bottom: 0;position: absolute;">

                                                    


                                                                                          
                                                       
                                                <div>
                                                        <p
                                                        style="margin: 8px; margin-top: 0px; font-size: 15px;float: left;color: black;display: block;"
                                                        > MRP: &#x20b9; <strong>{{product.discount}}</strong></p>
                                                </div>
                                                
                                                 </ion-row>
                                    </div>
                              


                            </ion-card>
    
  
                        
                          </div>
                        </ion-slide>
                    
                    </ion-slides>
            </div>
       </div>
  
        <br>

        


        <br>

        <div class="home_offer_slider">
                <ion-slides loop="true"
                [pager]="true"
                slidesPerView="1.5" spaceBetween="5px">
                 <ion-slide (click)="Nevigatetocategory(101)">
                        <img src="assets/imgs/Offers.png">
                    </ion-slide>
    
        
            
                    <!-- <ion-slide      
                    *ngFor="let slide of Slides">
                        <img  
                        [src]="slide" >
                    </ion-slide> -->
            
                </ion-slides>
            </div>
            <br>
        
            <div  class="shop_list" >
                        <h4 style="vertical-align: middle">
                                        <span style="visibility: collapse">HIDDEN</span>
                                        <span 
                                        style="float: left;font-size: 4.0vw">
                                        POPULAR BRANDS</span>

   
                        </h4>
               
                  <div style="padding: 10px">
                        <ion-slides [options]="sliderBrandConfig" >
                                <ion-slide  *ngFor="let brand of Brands"  >
                           
                                                <div  >
                        <ion-card 
                        (click)="Nevigatetobrand(brand.brandid)"
                        [ngStyle]="{'width.px':  ProductCardWidth}"
                        >
        
                        <ion-card 
                        style="border-radius: 10%;"
                        [ngStyle]="{'height.px': ProductCardHeight}"
                        >
                        <img  class="classimg"
                        [src]="brand.ImagePath" />
                        
                
                        <ion-row 
                        style="bottom: 0;position: absolute;">
                        
                        <div
                        [ngStyle]="{'width.px':  ProductCardWidth}"
                        style="background-color: green;">
                                        <span style="color: white">
                                                Upto {{brand.discount}}% off
                                        </span>
                        </div>
                        
                        </ion-row>
                        </ion-card>

                        <div style="text-align: center;height: 50px;">
                
                        <p>
                                <strong>{{brand.brandname}}</strong>     
                                </p>

                        </div>
                
                        </ion-card>      
                                 </div>
                   
                                </ion-slide>
                       </ion-slides>
                  </div>
                        
                </div>
                <div>
                        <h4 style="vertical-align: middle">
                                        <span style="visibility: collapse">HIDDEN</span>
                                        <span 
                                        style="float: left;font-size: 4.0vw">
                                        COVID-19 ESSENTIAL</span>

                                <span 
                                (click)="Nevigatetocategory(101)"
                                style="float: right;color: #31a3a0;font-size: 3.0vw">
                                <strong>SEE ALL</strong>
                        </span>
                        </h4>
                       
                        <div   style="padding: 10px">
                      
                            <ion-slides [options]="sliderConfig">
                                    <ion-slide 
                                    *ngFor="let product of Covid"
                                    >

                                      <div  (click)="Nevigatetoproduct(product)">
                                            <ion-card 
                                            [ngStyle]="{'width.px':  ProductCardWidth}"
                                            >
                                   
                                            <div 
                                            *ngIf="Showsale(product.productPrice,product.discount)"
                                            style="height: 10px;margin: 0px">
                                                    <ion-card 
                                                    style="background-color: green;width: 30%">
                                                    
                                                            <p 
                                                            style="color: white">SALE</p>
                                                    </ion-card>
                                            </div>
            
                                            <div 
                                            *ngIf="!Showsale(product.productPrice,product.discount)"
                                            style="height: 10px;margin: 0px;visibility: hidden;">
                                                    <ion-card 
                                                    style="background-color: white;width: 30%">
                                                    
                                                            <p 
                                                            style="color: white"></p>
                                                    </ion-card>
                                            </div>
            
                                            <ion-card 
                                            style="border-radius: 10px;"
                                            [ngStyle]="{'height.px': ProductCardHeight}"
                                            >
                                            <img  class="classimg"
                                            [src]="product.image" />
                                        </ion-card>
                              
            
                                                <div [ngStyle]="{'height.px': 110}">
                                                        <ion-row>
                                                                
                                                           
            
                                                            <p style="font-size: 13px;color: black;float: left; text-align: left;margin-left: 8px;
                                                            overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical">
                                                                    {{product.name}}
                                                            </p>
            
            
                                                
                                                                      
                                                            </ion-row>
                                    
                                                            <ion-row 
                                                            *ngIf="product.productPrice > product.discount"
                                                            style="bottom: 0;position: absolute;">
            
                                                                
                                                            <div style="width: 100%">
                                                                 <p
                                                            style="margin: 8px;margin-bottom: 0px; font-size: 2.5vw;float: left;color: black;"
                                                            > MRP:  &#x20b9; <span style="text-decoration: line-through">{{product.productPrice}}</span>
                                                        
                                                                <span style="margin-left: 5px;color: green;"> 
                                                                <strong> {{ product.discount | discount:product.productPrice:product.discount}} </strong>
                                                                </span>
                                                            </p> 
                                                            </div>
            
                                                           
                                                          
                                                                   
                                                            <div>
                                                                    <p
                                                                    style="margin: 8px; margin-top: 0px; font-size: 15px;float: left;color: black;display: block;"
                                                                    >&#x20b9; <strong>{{product.discount}}</strong></p>
                                                            </div>
                                                            
                                                             </ion-row>
            
            
                                                                                      
                                                            <ion-row 
                                                            *ngIf="product.productPrice <= product.discount"
                                                            style="bottom: 0;position: absolute;">
            
                                                                
            
            
                                                                                                      
                                                                   
                                                            <div>
                                                                    <p
                                                                    style="margin: 8px; margin-top: 0px; font-size: 15px;float: left;color: black;display: block;"
                                                                    > MRP: &#x20b9; <strong>{{product.discount}}</strong></p>
                                                            </div>
                                                            
                                                             </ion-row>
                                                </div>
                                          
            
            
                                        </ion-card>
                
              
                                    
                                      </div>
                                    </ion-slide>
                                
                                </ion-slides>
                        </div>
                   </div>
    
            
        <ion-card >
                <ion-item (click)="Call()">
                        <ion-icon color="medium"  name="call-outline"></ion-icon>
                        <ion-label style="font-weight: bolder"
                         style="margin-left: 20px">Call to Order </ion-label>
                         <span 
                         class="badge badge-pill badge-primary">
                         Call</span>
    
                </ion-item>
    
         
               
    
                <!-- <ion-item>
                        <ion-icon  color="medium" name="alarm-outline"></ion-icon>                    <ion-label
                         style="margin-left: 20px">Dosage Reminder</ion-label>
                </ion-item> -->
            </ion-card >
            <!-- <ion-card >
    
          
                    <ion-item>
                            <ion-thumbnail slot="start">
                              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                            </ion-thumbnail>
                            <ion-label>
                                    <h3>Never miss a dose</h3>
                                    <p>Set reminder now </p>
                                  </ion-label>
                          </ion-item>
    
            </ion-card> -->
            <br>
        
  </div>

</ion-content>




