<ion-header>
    <ion-toolbar [color]="'medium'">
        <ion-buttons slot="start">
          <ion-back-button style="color:white"></ion-back-button> 
           </ion-buttons>
        <ion-title style="color:white">Notification</ion-title>
      </ion-toolbar>
</ion-header>



<ion-content>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="Pull to refresh"
                  refreshingSpinner="circles"
                  refreshingText="Refreshing...">
                </ion-refresher-content>
              </ion-refresher>
    <div class="notification_wrapper">
        <ul>
                <li 
                (click)="NavigateToNoti(item)"
                *ngFor="let item of NotiList; let i = index">
                      
                <div class="circle_details">
                        <ion-row>
                                <ion-col 
                                style="padding: 0px"
                                size="8">
                                        <h5
                                        style="font-size: 4.2vw;color: black"
                                        >{{item.title}} 
                                 
                                    </h5>
                                </ion-col>
                                <ion-col size="4">
                                        <span> 
                                                <strong style="font-size: 15px;float: right;">  
                                                {{item.server_date | date: 'MMM d, y' }} 
                                            </strong></span>
                                </ion-col>

                              </ion-row>

                            <p>{{item.text}}</p>
                              
<div  *ngIf="item.img_url && item.img_url.trim().length != 0"  >
        <img
        [src]=" 'http://www.wellclap.com/pictures/notificationimage/' +item.img_url" alt="">
</div>
                            <!-- <p> Date :  <strong>{{item.server_date | date: 'MMM d, y' }}</strong></p> -->
                        </div>
        
                        <div class="clear"></div>
                    </li>
            <li>
                <div class="circle_details">
                    <h5>Medicine Offer</h5>
                    <p>OFFER ENDS TODAY: Save 40% on Medicines. Get up to 20% off on allopathy medicines +75 P24 cash +Extra 15% Amzon Pay Cashback (up to Rs200) Use Coupen 20PLUS T&C Applay</p>
             
        
                </div>

                <div class="clear"></div>
            </li>
         
        </ul>
    </div>
</ion-content>
