<ion-header>
    <ion-toolbar [color]="'medium'">
        <ion-buttons slot="start">
          <ion-back-button style="color:white"></ion-back-button> 
           </ion-buttons>
        <ion-title style="color:white">Notification</ion-title>
      </ion-toolbar>
</ion-header>



<ion-content>
    <div class="notification_wrapper">
        <ul>
                <li *ngFor="let item of NotiList; let i = index">
                        <div class="circle_details">
                            <h5>{{item.title}}</h5>
                            <p>{{item.text}}</p>
                            <br>
                            <p> Date :  <strong>{{item.server_date | date: 'MMM d, y' }}</strong></p>
                        </div>
        
                        <div class="clear"></div>
                    </li>
            <li>
                <div class="circle_details">
                    <h5>Medicine Offer</h5>
                    <p>OFFER ENDS TODAY: Save 40% on Medicines. Get up to 20% off on allopathy medicines +75 P24 cash +Extra 15% Amzon Pay Cashback (up to Rs200) Use Coupen 20PLUS T&C Applay</p>
                </div>

                <div class="clear"></div>
            </li>
         
        </ul>
    </div>
</ion-content>
