<ion-header>
    <ion-toolbar [color]="'medium'">
        <ion-buttons slot="start">
          <ion-back-button style="color:white"></ion-back-button> 
           </ion-buttons>
        <ion-title style="color:white">Change Password</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <form style="margin: 10px"
    (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm"
    name="myForm">
        <ion-item>
            <ion-label position="floating">Current Password</ion-label>
            <ion-input type="text" 
            required
            [(ngModel)]="OPassword"
            name="OPassword"
            minlength="6"
            placeholder="Current Password"></ion-input>
        </ion-item>

        <ion-item>
                <ion-label position="floating">New Password</ion-label>
            <ion-input type="text" 
            required
            [(ngModel)]="NPassword"
            name="NPassword"
            minlength="6"
            placeholder="New Password"></ion-input>
        </ion-item>

        <ion-item>
                <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="text" 
            required
            [(ngModel)]="CPassword"
            name="CPassword"
            minlength="6"
            placeholder="Confirm Password"></ion-input>
        </ion-item>



        <ion-button  class="ion-activatable ripple-parent" 
        type="Submit"
        [disabled]="f.form.pristine || f.form.invalid"
        size="large"
        color="medium" shape="round"
        style="margin-top: 40px;color: white;" 
        expand="block"> <span style="color: white"> 
          
           Change Password</span>
        
           <ion-ripple-effect></ion-ripple-effect>
        
          </ion-button>






        </form>
</ion-content>
